*{
    padding: 0;
    margin: 0;

}



.menu {
    display: flex;
    background-color: violet;
    height: 45px;
}
.login {
    display: flex;
    justify-content:end;
    align-items: center;
    margin-left: 87vw;
    gap: 10px;
   
}

.opcoes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    gap: 10px;

}
.sub-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 45px;
    gap: 5px;
}
.titulo1 p {
    display: flex;
    align-items: center;
    color: white;
}