@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    background:linear-gradient(90deg, rgb(65, 5, 5) 0%, rgb(216, 7, 24)100%); 

}header {
    color:white;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
header img {
    width: 70px;
    height: 70px;
    margin-inline: 20px;
}

main {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.spnQtd {
    text-align: end;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button {
    width: 100%;
    text-align: start;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: red;
    color: whitesmoke;
}

.finish {
    display: none;
    flex-direction: column;
    gap: 10px;

}

.finish button {
    text-align: center;
}
 
