@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url(https://fonts.googleapis.com/css?family=Poppins:300);
@import url(https://use.fontawesome.io/releases/v6.4.2/css/all.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --cor-principal:black;
    --cor-secundaria:#353535;
    --font-color:white;
    --font-fam-secundary: 'Roboto', sans-serif;
    

}
body {
    background-color: white;
}
.novo {
    width: 80%;
    height: 80%;
    position: fixed;
    background-image: url(../img/icones/new.png);
    background-size: 6vh;
    background-repeat: no-repeat;

}
.car {
    
    width: 80px;
    height: 80px;
    margin-left: 180px;
    margin-top: 40px;
    position: absolute;
    background-image: url(../img/icones/car.png);
    background-size: 4vh;
    background-repeat: no-repeat;
   
}




.Login a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color:white;
    justify-content: center;
    gap: 10px;
}

.Logo{
    display: flex;
    background-color: black;
   align-items: center;
    height: 100px;

}
.Logo img {
    display: flex;
    width: 80px;
    align-items: center;
    margin-left: 10vw;
}
.Buscar {
    display: flex;
    align-items: center;
    
}
.Buscar input {
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 32vw;
    border-radius: 30px;
    margin-left: 10vw;
    border: 4px solid white;
}
.Buscar img {
    transform: translateX(-30px);
    width: 20px;

}
.Login {
    display: flex;
    align-items: center;
}
.Login img {
    display: flex;
    width: 35px;
    justify-content: center;
    align-items: center;
    filter: invert(100%);
    margin-left: 20vw;
}
.carrinho {
    display: flex;
    align-items: center;
}
.carrinho img {
    display: flex;
    width: 32px;
    justify-content: center;
    align-items: center;
    filter: invert(100%);
    margin-left: 5vw;

}
.menu {
    display: flex;
    align-items: center;
}
.menu img {
    display: flex;
    width: 35px;
    justify-content: center;
    align-items: center;
    filter: invert(100%);
    margin-left: 4vw;
}

.inter img {
    display: flex;
    width: 80px;
    align-items: center;
    margin-left: 10vw;

}
.Buscar {
    display: flex;
    align-items: center;
    
}
.Buscar input {
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 32vw;
    border-radius: 30px;
    margin-left: 10vw;
    border: 4px solid white;
}
.Buscar img {
    transform: translateX(-12vw);
    width: 20px;
    

}
.Login {
    display: flex;
    color: white;
    align-items: center;
    gap: 10px;

}
.Login img {
    display: flex;
    width: 35px;
    justify-content: center;
    align-items: center;
    filter: invert(100%);
    margin-left: 10vw;
}
.carrinho {
    display: flex;
    align-items: center;
}
.carrinho img {
    display: flex;
    width: 32px;
    justify-content: center;
    align-items: center;
    filter: invert(100%);
    margin-left: 5vw;

}
.menu {
    display: flex;
    align-items: center;
}
.menu img {
    display: flex;
    width: 35px;
    justify-content: center;
    align-items: center;
    filter: invert(100%);
    margin-left: 4vw;
}

 .categorias a {
    color: white;
    text-decoration: none;
    justify-content: center;
 }


.filtro a{
    color: black;
    text-decoration: none;
    justify-content: center;
}
.categorias{
    display: flex;
    background-color: var(--cor-secundaria);
   align-items: center;
   gap: 30px; 
    height: 50px;

}
.promo {
    display: flex;
    margin-left: 12vw;
    gap: 40px; 
    color: white;
    text-decoration: none;
    
}
.comp {
    display: flex;
    color: white;
    align-items: center;
    gap: 10px;
    
}
.comp img {
    height: 25px;
    width: 25px;
    margin-left: 4vw;

}
.local {
    display: flex;
    margin-left: 10px;
    color : white;
    gap: 5px;
  
}
.local img {
    filter: invert(100%);
    height: 25px;
    width: 25px;
    margin-left: 4vw;
}
.categorias:hover p {
    transform: scale3d(1.1, 1.1, 1);
}


p {
    font-family:var(--font-fam-secundary) !important;
    
}

main {
    background-color: transparent;
    display: flex;
    gap: 15vw;
}

nav {
    
    background-color: var(--cor-principal);
    display: flex;
}

.filtro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border: 4px solid white;
    
    width: 10vw;
    height: min-content;
    margin-top: 80px;
    margin-left: 15px;
    padding: 25px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    

}
.filtro p {
    color: black;
    font-size: 24px;
    margin-inline: 6px;
    margin-bottom: 0.8rem;
    
   
}
p {
    color: white;
    font-size: 24px;
    margin-inline: 6px;
    
}

.log:hover {
    transform: scale3d(1.1, 1.1, 1);
}
.carrinho:hover img{
    transform: scale3d(1.1, 1.1, 1);
}
.menu:hover img {
    transform: scale3d(1.1, 1.1, 1);
}
.product-grid {
    display: grid;
    grid-template-columns: 250px 250px 250px ;
    justify-content:flex-start;
   
    margin: 100px 11rem 0px 15rem;
    gap: 1.70rem 1.70rem;
    color: black;
} 
.item-card {
    width: 250px;
    text-align: center;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
.item-card a {
    text-decoration: none;
}
.item-card p { 
    color: black;
    background-color:white;

}
.item-card img {
    background-color: white;
    width: 100%;

}
.item-card:hover {
    transform: scale3d(1.1, 1.1, 1);
}

.item-card:hover p {
    color: black;
}

.item-card:active {
    transform: scale3d(0.9, 0.9, 1);
}

body{
    height: 100vh;
    overflow: hidden;
    font-family: "Poppins";
  
}
.login-page {
  width: 400px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 400px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Poppins", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 7px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  
}
.form button {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: black;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  border-radius: 7px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: var(--cor-secundaria);
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: var(--cor-secundaria);
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.login-page img {
     margin-right: 40px;
    margin-left: 40px;
     width: 60px;
     
}
.cad {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.login-page:hover {
    transform: scale3d(1.1, 1.1, 1);
}
.redes a {
    margin: 0 10px;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #FFF;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0);
    color: var(--color);
    font-size: 2.5em;
    -webkit-box-reflect: below 5px linear-gradient(to
    bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}


